.description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #706b6b;
}

.message {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #d573c5;
} @media(max-width: 900px) {
  font-size: 20px
  }

.footer {
  height: 120px;
  background: #b4dae7 !important;
}


.links {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-top: 40px;
}
a {
  color: #d573c5;
}
a:link {
  color: #d573c5;
}
a:hover {
  color: #d573c5 !important;
}

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);

  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.sub-title {

font-family: Oswald;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
text-align: center;
text-transform: lowercase;
color: #FFFFFF;
}

.menu-container {
  position: relative;
}

.title {
  
}